@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--dark);
  background-color: var(--light);
}

a {
  color: var(--dark);
}

@media (prefers-color-scheme: dark) {
  body {
    --dark: #000000;
    color: var(--light);
    background-color: var(--dark);
  }

  a {
    color: var(--light);
  }
}

.stroke-current path {
  stroke: currentColor;
}

.hyphens-auto {
  hyphens: auto;
}

.trace path {
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: trace 3s ease-in forwards;
}

@keyframes trace {
  to {
    stroke-dashoffset: 0;
  }
}

