@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--dark);
  background-color: var(--light);
}

a {
  color: var(--dark);
}

.vh-75 {
  height: 75vh;
}

.bg-white-50 {
  background-color: rgba( 255, 255, 255, .5 );
}

.bg-black-50 {
  background-color: rgba( 0, 0, 0, .5 );
}

.hyphens-auto {
  hyphens: auto;
}

.trace path {
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: trace 3s ease-in forwards;
}

@keyframes trace {
  to {
    stroke-dashoffset: 0;
  }
}

nav {
  backdrop-filter: blur(.75rem);
}
