---
import Layout from '../layouts/base-layout.astro'
import Nav from '../components/nav.astro'
import Footer from '../components/footer.astro'
import BigContent from '../components/big-content.astro'
import BoxedText from '../components/boxed-text.astro'

const cx = {
  main: 'max-w-5xl mx-auto',
  content: 'vh-75 table w-full bg-cover font-black italic text-5xl px-4 py-32 max-w-lg text-center mx-auto leading-5 hyphens-auto',
  boxes: 'text-left inline-block'
}

const theme = {
  light: '#bf8bff',
  dark: '#23004e'
}
---
<Layout
  title='girlfriend technology ~ labs'
  className={cx.main}
  {...theme}
>
  <Nav />
  <BigContent className={cx.content}>
    <span class={cx.boxes}>
      <BoxedText {...theme}>
        {'> labs'}
      </BoxedText>
      <BoxedText {...theme}>
        in development
      </BoxedText>
    </span>
  </BigContent>
  <Footer />
</Layout>
