---
import Footer from '../components/footer.astro'
import H2 from '../components/h2.astro'
import H3 from '../components/h3.astro'
import Layout from '../layouts/base-layout.astro'
import Nav from '../components/nav.astro'
import P from '../components/p.astro'

const cx = {
  main: 'max-w-5xl mx-auto',
  content: 'max-w-lg p-4',
  boxes: 'text-left inline-block',
  h3: 'my-5 font-bold text-lg',
  strong: 'font-bold',
}

const theme = {
  light: '#fff',
  dark: '#333'
}
---
<Layout
  title='girlfriend technology ~ privacy policy'
  className={cx.main}
  {...theme}
>
  <Nav />
  <div class={cx.content}>
    <H2>
      Privacy Policy
    </H2>
    <P>
      <strong class={cx.strong}>
        Last updated: Aug 29, 2020
      </strong>
    </P>
    <P>
      This policy applies to all apps and websites provided by <em>girlfriend technology</em> for any platform.
    </P>
    <P>
      Privacy is very important and that is why there is zero data collection in anything provided by <em>girlfriend technology</em>.
    </P>
    <H3>
      Your concent
    </H3>
    <P>
      By using websites and apps by <em>girlfriend technology</em> you concent to privacy policy. …About how girlfriend.technology collects nothing. (isn't that weird?)
    </P>
  </div>
  <Footer />
</Layout>

