---
import Layout from '../layouts/base-layout.astro'
import Nav from '../components/nav.astro'
import Footer from '../components/footer.astro'
import BigContent from '../components/big-content.astro'
import BoxedText from '../components/boxed-text.astro'

const cx = {
  main: 'mw8 center',
  content: 'fw9 i f1 ph3 pv6 mw6 tc center lh-title hyphens-auto',
  boxes: 'tl dib'
}

const theme = {
  light: '#5af9f9',
  dark: '#005252'
}
---
<Layout
  title='girlfriend technology ~ projects'
  className={cx.main}
  {...theme}
>
  <Nav />
  <BigContent className={cx.content}>
    <span class={cx.boxes}>
      <BoxedText {...theme}>
        {'> projects'}
      </BoxedText>
      <BoxedText {...theme}>
        in development
      </BoxedText>
    </span>
  </BigContent>
  <Footer />
</Layout>

