---
const cx = {
  article: 'vh-75 table w-full bg-cover',
  articleInner: 'table-cell align-middle'
}

const {
  className = '',
  style = {},
} = Astro.props
---
<article
  class={`${cx.article} ${className}`}
  style={style}
>
  <div class={cx.articleInner}>
    <slot />
  </div>
</article>

