---
const cx = {
  article: 'vh-75 dt w-100 cover',
  articleInner: 'dtc v-mid'
}

const {
  className = '',
  style = {},
} = Astro.props
---
<article
  class={`${cx.article} ${className}`}
  style={style}
>
  <div class={cx.articleInner}>
    <slot />
  </div>
</article>

