---
const cx = {
  span: 'text-5xl w-80 leading-5 mb-1 inline-block p-1 tracking-tighter'
}
const { className = cx.span } = Astro.props
---
<style>
  span {
    color: var(--light);
    background-color: var(--dark);
  }
</style>
<span class={className}>
  <slot />
</span>

