---
const cx = {
  span: 'f1 measure-narrow lh-title mb1 dib pa1 tracked-tight'
}
const {
  className = '',
  light: '#ffffff',
  dark: '#000000'
} = Astro.props
---
<span
  class={`${cx.span} ${className}`}
  style={{
    backgroundColor: dark,
    color: light
  }}
>
  <slot />
</span>

