---
const cx = {
  span: 'text-5xl w-80 leading-5 mb-1 inline-block p-1 tracking-tighter'
}
const {
  className = '',
  light = '#ffffff',
  dark = '#000000'
} = Astro.props
---
<span
  class={`${cx.span} ${className}`}
  style={{
    backgroundColor: dark,
    color: light
  }}
>
  <slot />
</span>

