---
const cx = {
  a: 'link f6 f5-ns dib mr3 underline'
}
const { className = cx.a, href, title, rel } = Astro.props
---
<a
  class={className}
  href={href}
  title={title}
  rel={rel}
>
  <slot />
</a>
