---
import A from './a.astro'
const cx = 'text-sm md:text-base mr-4 inline-block underline'
const { className = cx, href, title, rel } = Astro.props
---
<A
  className={className}
  href={href}
  title={title}
  rel={rel}
><slot /></A>
